services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    command: serve
    networks:
      - llm-network

volumes:
  ollama:
    name: ollama

networks:
  llm-network:
    name: llm-network
    driver: bridge
    external: true
